* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 5rem;
}

.cloud-box {
    width: 100%;
    height: 400px;
    background: lightblue;
}
.cloud-box img{
    transform: ;
}